<header>
    <nav class="navbar navbar-default">
        <div class="">
            <div class="navbar-header">
                <a [routerLink]="'/'" class="navbar-brand">Recipe book</a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="'active'" *ngIf="isAuth">
                    <a [routerLink]="'/recipes'">Recipes</a>
                </li>
                <li [routerLinkActive]="'active'">
                    <a [routerLink]="'/shopping-list'">Shopping list</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li [routerLinkActive]="'active'" *ngIf="!isAuth">
                    <a [routerLink]="'/login'">Login</a>
                </li>
                <li *ngIf="isAuth">
                    <a (click)="logout()">Logout</a>
                </li>
                <li class="dropdown" *ngIf="isAuth">
                    <a class="dropdown-toggle" role="button" appDropdown [dropdownMenu]="HeaderMenu">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu" #HeaderMenu>
                        <li>
                            <a (click)="saveRecipes()">Save data</a>
                        </li>
                        <li>
                            <a (click)="getRecipes()">Fetch data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
