<header>
    <nav class="navbar navbar-default">
        <div class="">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Recipe book</a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a (click)="selectTab('recipe')">Recipes</a>
                </li>
                <li>
                    <a (click)="selectTab('shoppingList')">Shopping list</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" appDropdown [dropdownMenu]="HeaderMenu">Open <span class="caret"></span></a>
                    <ul class="dropdown-menu" #HeaderMenu>
                        <li>
                            <a href="#">Save data</a>
                        </li>
                        <li>
                            <a href="#">Save data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
