<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-offset-3">
        <div class="alert alert-danger" *ngIf="errorAccured">
            <p>{{ error }}</p>
        </div>
        <form (ngSubmit)="onSubmit(authForm)" [formGroup]="authForm" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email"></label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
                    {{ isLogin ? 'Login' : 'Sign up' }}
                </button>
                |
                <button class="btn btn-primary" (click)="switchMode()" type="button">
                    Switch to {{ isLogin ? 'sign up' : 'login' }}
                </button>
            </div>
        </form>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loader></app-loader>
        </div>
    </div>
</div>
